* {
    font-family: 'Nunito', sans-serif;
}

.title-1 {
    font-weight: bold;
    font-size: 38px;
}
.title-2 {
    font-weight: bold;
    font-size: 22px;
}
.title-3 {
    font-weight: bold;
    font-size: 16px;
}
.title-4 {
    font-weight: bold;
    font-size: 12px;
}
.head-line {
    font-weight: 400;
    font-size: 16px;
}
.body {
    font-weight: 400;
    font-size: 12px;
}